<div class="team">
    <h2><%= team.name %> (<%= team.short_name %>)</h2>
    <p>Code: <%= team.code %></p>
    <p>Strength: <%= team.strength %></p>
    <p>Overall Strength (Home): <%= team.strength_overall_home %></p>
    <p>Overall Strength (Away): <%= team.strength_overall_away %></p>
    <p>Attack Strength (Home): <%= team.strength_attack_home %></p>
    <p>Attack Strength (Away): <%= team.strength_attack_away %></p>
    <p>Defence Strength (Home): <%= team.strength_defence_home %></p>
    <p>Defence Strength (Away): <%= team.strength_defence_away %></p>
    <p>Played: <%= team.played %></p>
    <p>Points: <%= team.points %></p>
    <p>Created At: <%= team.created_at %></p>
    <p>Updated At: <%= team.updated_at %></p>
</div>