<% content_for :title, "FPL Analytics - Home" %>
<% content_for :page_title, "Dashboard" %>  
        <!-- Row 1, Column 1: Teams Standings -->
        <turbo-frame id="row1col1" src="<%= teams_standings_path %>">
          <!-- Optional: Loader or Placeholder -->
          <div class="bg-white shadow-md rounded p-4">
            <p>Loading Teams...</p>
          </div>
        </turbo-frame>

        <!-- Row 1, Column 3: Upcoming Fixtures -->
        <turbo-frame id="row1col3" src="<%= fixtures_upcoming_path %>">
          <div class="bg-white shadow-md rounded p-4">
            <p>Loading Upcoming Fixtures...</p>
          </div>
        </turbo-frame>

        <!-- Form Charts -->
        <turbo-frame id="row2col3" src="<%= players_in_form_players_path %>">
          <div class="bg-white shadow-md rounded p-4">
            <p>Loading Form Charts...</p>
          </div>
        </turbo-frame>

        <!-- Manager Lookup -->
        <turbo-frame id="row3col1" src="<%= managers_show_path %>">
          <div class="bg-white shadow-md rounded p-4">
            <p>Lookup a manager to see their team</p>
          </div>
        </turbo-frame>

        <!-- Unavailable Players -->
        <turbo-frame id="unavailable_players" src="<%= players_unavailable_path %>">
          <div class="bg-white shadow-md rounded p-4">
            <p>Loading Unavailable Players...</p>
          </div>
        </turbo-frame>
