<turbo-frame id="most_transferred_players">
  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="bg-blue-600 text-white px-6 py-4">
      <h2 class="text-xl font-bold">Player Transfer Trends</h2>
    </div>
    
    <div class="p-6">
      <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Most Transferred In</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Most Transferred Out</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% 5.times do |i| %>
              <tr class="<%= i.even? ? 'bg-gray-50' : 'bg-white' %>">
                <td class="px-6 py-4 whitespace-nowrap">
                  <% if transferred_in[i] %>
                    <div class="flex items-center group relative">
                      <div class="flex-shrink-0 h-10 w-10 relative">
                        <%= image_tag transferred_in[i].image_url, class: "h-10 w-10 rounded-full" %>
                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                      </div>
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900"><%= transferred_in[i].web_name %></div>
                        <div class="text-sm text-green-600">(+<%= transferred_in[i].transfers_balance %>)</div>
                      </div>
                    </div>
                  <% end %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <% if transferred_out[i] %>
                    <div class="flex items-center group relative">
                      <div class="flex-shrink-0 h-10 w-10 relative">
                        <%= image_tag transferred_out[i].image_url, class: "h-10 w-10 rounded-full" %>
                        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                      </div>
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900"><%= transferred_out[i].web_name %></div>
                        <div class="text-sm text-red-600">(-<%= transferred_out[i].transfers_balance %>)</div>
                      </div>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</turbo-frame>

